{% extends "AdminBundle::layoutTech.html.twig" %}

{% block user_content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
        <form action="{{ path('tech_addClient' ) }}" {{ form_enctype(form) }} method="POST">
             <h1> Nouveau Client </h1>
             <br>
            <table id="example2" class="table table-bordered table-hover">
                <tr>
                    <td>  <label for="exampleInputEmail1">Société </label>  </td>
                    <td>{{ form_widget(form.societe) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Secteur d'activité </label>  </td>
                    <td>{{ form_widget(form.secteurActivite) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Téléphone </label>  </td>
                    <td>{{ form_widget(form.telephone) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Numéro télécopie </label>  </td>
                    <td>{{ form_widget(form.telecopie) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Responsable à contacter </label>  </td>
                    <td>{{ form_widget(form.titreContact) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Numéro du responsable </label>  </td>
                    <td>{{ form_widget(form.contact) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Crédit disponible </label>  </td>
                    <td>{{ form_widget(form.credit) }}</td>
                    </tr>
                <tr>
                         {{ form_rest(form) }}
                </tr>
            </table>
    <div>
        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Ajouter Client" />
    </div>
    </form>
        </div>    
    </div>
    
    
{% endblock user_content %}