{% extends is_granted("ROLE_ADMIN")
? "AdminBundle::layoutSUP.html.twig"
: "AdminBundle::layoutTech.html.twig"%}
{% block user_content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
        <form action="" {{ form_enctype(form) }} method="POST">
             <h1> Mise à disposition </h1>
             <br>
            <table id="example2" class="table table-bordered table-hover">
                <tr>
                    <td>  <label for="exampleInputEmail1">Designation </label>  </td>
                    <td>{{ form_widget(form.designation) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Date </label>  </td>
                    <td>{{ form_widget(form.date) }}</td>
                    </tr>
                   <tr>
                    <td>  <label for="exampleInputEmail1">Diamétre extérieur </label>  </td>
                    <td>{{ form_widget(form.dnext) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Longueur </label>  </td>
                    <td>{{ form_widget(form.longueur) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Coude</label>  </td>
                    <td>{{ form_widget(form.coude) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Tuyauterie </label>  </td>
                    <td>{{ form_widget(form.tuyauterie) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Reduction </label>  </td>
                    <td>{{ form_widget(form.reduction) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Te </label>  </td>
                    <td>{{ form_widget(form.te) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Brides </label>  </td>
                    <td>{{ form_widget(form.brides) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Vannes </label>  </td>
                    <td>{{ form_widget(form.vannes) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Surface </label>  </td>
                    <td>{{ form_widget(form.surface) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Epaisseur </label>  </td>
                    <td>{{ form_widget(form.epaisseur) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Couche 1 </label>  </td>
                    <td>{{ form_widget(form.couche1) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Couche 2 </label>  </td>
                    <td>{{ form_widget(form.couche2) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Couche 3 </label>  </td>
                    <td>{{ form_widget(form.couche3) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Couche 4 </label>  </td>
                    <td>{{ form_widget(form.couche4) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Couche 5</label>  </td>
                    <td>{{ form_widget(form.couche5) }}</td>
                    </tr>
                    <tr>
                    <td>  <label for="exampleInputEmail1">Quantité </label>  </td>
                    <td>{{ form_widget(form.quantite) }}</td>
                    </tr>
                <tr>
                         {{ form_rest(form) }}
                </tr>
            </table>
    <div>
        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Ajouter MAD" />
    </div>
    </form>
        </div>    
    </div>
    
    
{% endblock user_content %}