{% extends is_granted("ROLE_ADMIN")
? "AdminBundle::layoutSUP.html.twig"
: "AdminBundle::layoutTech.html.twig"%}
{% block user_content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
        <form action="{{ path('tech_addProjet' ) }}" {{ form_enctype(form) }} method="POST">
             <h1> Nouveau Projet </h1>
             <br>
            <table id="example2" class="table table-bordered table-hover">
                <tr>
                    <td>  <label for="exampleInputEmail1">Nature projet </label>  </td>
                    <td>{{ form_widget(form.nature) }}</td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Besoin en matériels roulant </label>  </td>
                    <td>{{ form_widget(form.besoinMaterielRoulant) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Lieu </label>  </td>
                    <td> {{ form_widget(form.lieu) }} </td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Besoin en matière première </label>  </td>
                    <td>{{ form_widget(form.besoinMatierePremiere) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Client </label>  </td>
                    <td> {{ form_widget(form.idClient) }} </td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    <td>  <label for="exampleInputEmail1">Date de mise à disposition </label>  </td>
                    <td>{{ form_widget(form.dateMiseDispo) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Besoin en échaffaudage </label>  </td>
                    <td> {{ form_widget(form.besoinEchaffaudage) }}</td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Coût équipement Indiv </label>  </td>
                    <td>{{ form_widget(form.coutEPI) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Prix logement </label>  </td>
                    <td> {{ form_widget(form.besoinHebergement) }}</td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Quantité d'équipement Indiv </label>  </td>
                    <td>{{ form_widget(form.quantiteEPI) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Nombre de logement </label>  </td>
                    <td> {{ form_widget(form.nbBesoinHebergement) }} </td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Contact </label>  </td>
                    <td>{{ form_widget(form.contact) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Nombre de jours de préfabrication </label>  </td>
                    <td> {{ form_widget(form.nbJourPrefa) }} </td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Etat du projet </label>  </td>
                    <td>{{ form_widget(form.etat) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Nombre de jours de montage</label>  </td>
                    <td> {{ form_widget(form.nbJourMonta) }} </td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Prix unitaire </label>  </td>
                    <td>{{ form_widget(form.prixUnitaire) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Date de préfabrication </label>  </td>
                    <td> {{ form_widget(form.datePrefa) }} </td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Prix Total </label>  </td>
                    <td>{{ form_widget(form.prixTotal) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Date de montage </label>  </td>
                    <td>{{ form_widget(form.dateMonta) }}</td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Charges </label>  </td>
                    <td>{{ form_widget(form.charges) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Nombre de personnes pour préfabrication </label>  </td>
                    <td>{{ form_widget(form.nbPersPrefa) }}</td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Marge bénéficiaire </label>  </td>
                    <td>{{ form_widget(form.margebenef) }}</td>
                </tr>
                <tr>
                    <td>  <label for="exampleInputEmail1">Nombre de personnes pour montage </label>  </td>
                    <td>{{ form_widget(form.nbPersMonta) }}</td>
                    <td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td>
                    
                    <td>  <label for="exampleInputEmail1">Remise </label>  </td>
                    <td>{{ form_widget(form.Remise) }}</td>
                </tr>
                
                <tr>
                         {{ form_rest(form) }}
                </tr>
            </table>
    <div>
        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Ajouter Projet" />
    </div>
    </form>
        </div>    
    </div>
    
    
{% endblock user_content %}
