{% extends "AdminBundle::layoutTech.html.twig" %}
{% block user_content %}

    <!-- Small boxes (Stat box) -->
    <div class="row">
       <div class="box-header">
                  <h3 class="box-title">Liste des COUDES</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>DN intér</th>
                    <th>DN ext</th>
                    <th>Epaisseur</th>
                    <th>DN ISOLE mm</th>
                    <th>CIRC en mm</th>
                    <th>RECOUV en mm</th>
                    <th>Largeur de la Tôle en cm</th>
                    <th>QTE Net en ML</th>
                    <th>Déchet</th>
                    <th>QTE Brute/ML</th>
                    <th>temps de préfa en mn/Homme</th>
                </tr>
            </thead>
            <tbody>
                {% for Modele in Modeles %}
                    <tr>
                        <td> {{Modele.diametreinter}} </td>
                        <td> {{Modele.dnext}} </td>
                        <td> {{Modele.epaisseur}} </td>
                        <td> {{Modele.dnisole}} </td>
                        <td> {{Modele.circ}} </td>
                        <td> {{Modele.recouv}} </td>
                        <td> {{Modele.largeurtole}} </td>
                        <td> {{Modele.qtenet}} </td>
                        <td> {{Modele.dechet}} </td>
                        <td> {{Modele.qtebrute}} </td>
                        <td> {{Modele.tempsprefa}} </td>
                    </tr>
                {% endfor %}
            </tbody>            
        </table>
                </div>
    </div>
    </div>
    <div class="row">

    </div><!-- /.row (main row) -->

{% endblock user_content %}