{% extends is_granted("ROLE_ADMIN")
? "AdminBundle::layoutSUP.html.twig"
: "AdminBundle::layoutTech.html.twig"%}
{% block user_content %}

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Liste des Tôles</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID Tôle/Isolant</th>
                    <th>DN intér</th>
                    <th>DN ext</th>
                    <th>Epaisseur</th>
                    <th>DN ISOLE mm</th>
                    <th>CIRC en mm</th>
                    <th>RECOUV en mm</th>
                    <th>QTE Net en ML</th>
                    <th>Déchet</th>
                    <th>QTE Brute/ML</th>
                    <th>temps de préfa en mn/Homme</th>
                    <th>Type de Tôle </th>
                    <th>Modifier Tôle </th>
                </tr>
            </thead>
            <tbody>
                {%if tole %}
                {% for Tole in tole %}
                    <tr>
                        <td> {{Tole.id}} </td>
                        <td> {{Tole.diametreinter}} </td>
                        <td> {{Tole.dnext}} </td>
                        <td> {{Tole.epaisseur}} </td>
                        <td> {{Tole.dnisole}} </td>
                        <td> {{Tole.circ}} </td>
                        <td> {{Tole.recouv}} </td>
                        <td> {{Tole.quantite}} </td>
                        <td> {{Tole.dechet}} </td>
                        <td> {{Tole.qtebrute}} </td>
                        <td> {{Tole.tempsprefa}} </td>
                        <td> {{Tole.type}} </td> 
                        <td><a href="{{path("tech_updTole",{'id':Tole.id})}}"> Modifier Tole </a></td>
                        
                    </tr>
                {% endfor %}
                {% endif %}
                
            </tbody>            
        </table>
            </div><!-- /.box-body -->
              </div>
    </div>
    <div class="row">

    </div><!-- /.row (main row) -->

{% endblock user_content %}