{% extends is_granted("ROLE_ADMIN")
? "AdminBundle::layoutSUP.html.twig"
: "AdminBundle::layoutTech.html.twig"%}
{% block user_content %}

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <h3> Modification de Redcution n°{{id}} </h3>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            
            <form action="{{ path('tech_updTUY',{'id':id}) }}" {{ form_enctype(form) }} method="POST" >
                
                <table id="lol" >
                    <tr>
                        <td><label for="exampleInputEmail1">Diamétre intérieur      </label></td>
                        <td>{{ form_widget(form.diametreinter)}} </td>
                   
                    </tr>

                    <tr>
                        <td><label for="exampleInputEmail1">Diamétre extérieur </label></td> 

                        <td>{{ form_widget(form.dnext) }} </td>
                    </tr>

                    <tr>
                        <td><label for="exampleInputEmail1">Epaisseur     </label></td>

                        <td>{{ form_widget(form.epaisseur) }} </td>
                  
                    </tr>

                    <tr>
                        <td><label for="exampleInputEmail1">DN isolé  </label> </td>
                        <td>{{ form_widget(form.dnisole) }} </td>
                     
                    </tr>

                    <tr>
                        <td><label for="exampleInputEmail1">Circonférence </label></td>
                        <td>{{ form_widget(form.circ) }} </td>
             
                    </tr>
                     <tr>
                        <td><label for="exampleInputEmail1">Recouvrement </label></td>
                        <td>{{ form_widget(form.recouv) }} </td>
             
                    </tr>
                     <tr>
                        <td><label for="exampleInputEmail1">Largeur tôle </label></td>
                        <td>{{ form_widget(form.largeurtole) }} </td>
             
                    </tr>
                     <tr>
                        <td><label for="exampleInputEmail1">Quantité </label></td>
                        <td>{{ form_widget(form.quantite) }} </td>
             
                    </tr>
                    
                     <tr>
                        <td><label for="exampleInputEmail1">Déchet </label></td>
                        <td>{{ form_widget(form.dechet) }} </td>
             
                    </tr>
                     <tr>
                        <td><label for="exampleInputEmail1">Quantité brute</label></td>
                        <td>{{ form_widget(form.qtebrute) }} </td>
             
                    </tr>
                    <tr>
                        <td><label for="exampleInputEmail1">Temps de préfabrication </label></td>
                        <td>{{ form_widget(form.tempsprefa) }} </td>
             
                    </tr>
                    <tr>
                        <td><label for="exampleInputEmail1">Temps de montage </label></td>
                        <td>{{ form_widget(form.tempsMonta) }} </td>
             
                    </tr>
                    <tr>
                        <td><label for="exampleInputEmail1">Prix unitaire Tôle </label></td>
                        <td>{{ form_widget(form.prixUnitaireTole) }} </td>
             
                    </tr>
                    <tr>
                        <td><label for="exampleInputEmail1">Prix unitaire Isolant </label></td>
                        <td>{{ form_widget(form.prixUnitaireIsolant) }} </td>
             
                    </tr>
                    <tr>
                        <td><label for="exampleInputEmail1">Prix </label></td>
                        <td>{{ form_widget(form.prix) }} </td>
             
                    </tr>
                    <tr>
                         {{ form_rest(form) }}
                     </tr>
                </table>
                <div>
                    <br>
                    <input type="submit" class="btn btn-primary btn-block btn-flat" value="Mettre à jour" />
                </div>
            </form>
        </div><!-- ./col -->
    </div>
    <!-- Main row -->
    <div class="row">

    </div><!-- /.row (main row) -->
{% endblock user_content %}