{% extends is_granted("ROLE_ADMIN")
? "AdminBundle::layoutSUP.html.twig"
: "AdminBundle::layoutLog.html.twig"%}
{% block user_content %}

    <!-- Small boxes (Stat box) -->
    <div class="row">
       <div class="box-header">
                  <h3 class="box-title">Liste de Stock </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
            <thead>
               <tr>
                   <th>Identifiant</th>
                    <th>Désignation </th>
                    <th>Nature </th>
                    <th>Unité </th>
                   
                    <th>Quantité Stock</th>
                    <th>Gestion Mouvement</th>
                    <th>Lister Mouvement</th>
                </tr>
            </thead>
            <tbody>
                 {% for Modele in Modeles %}
               
                  
                    <tr>
                        <td> {{Modele.id}} </td>
                        <td> {{Modele.designation}} </td>
                        <td> {{Modele.nature}} </td>
                        <td> {{Modele.unite}} </td>
                        
                        <td> {{Modele.qteStock}} </td>
                        <td><a href="{{path("log_addMvt",{'id':Modele.id})}}"> Gérer </a></td>
                       <td><a href="{{path("log_listMvt",{'idstock':Modele.id})}}"> Lister </a></td>
                       
                    </tr>
                       
                 {% endfor %}
            </tbody>            
        </table>
                </div>
    </div>
    </div>
    <div class="row">

    </div><!-- /.row (main row) -->

{% endblock user_content %}