<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
type="text/javascript"></script>
<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
<script type="text/javascript">
 $(function () {
     
     
    $('#container').highcharts({
        title: {
            text: 'Suivie du projet n° {{id}}' ,
            x: -20 //center
        },
        subtitle: {
            text: 'Afrikisol',
            x: -20
        },
        xAxis: {
            type: 'datetime',
            
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%Y'
            }
                              
        },
        yAxis: {
            title: {
                text: 'Quantité (%)'
            },
            minTickInterval: 0,
            min: 0,
            max: 100,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '%'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
                 plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                }
                
            }},
        series: [
        {
            name: 'Avancement réel'
            {% if avanc %}  
             {% set var = 0 %}
            ,data: [{% for Avanc in avanc %}
               
            {% set var = var + Avanc.quantite %}
                             {% if not loop.last%}
                   [Date.UTC( "{{Avanc.date|date("Y")}}", "{{Avanc.date|date("m")}}"-1, "{{Avanc.date|date("d")}}"),({{var}}/{{projet.quantite}})*100],
                         {% else %}   
                             [Date.UTC( "{{Avanc.date|date("Y")}}", "{{Avanc.date|date("m")}}"-1, "{{Avanc.date|date("d")}}") ,({{var}}/{{projet.quantite}})*100]
                             {% endif %}
                         
                          {% endfor %} ]
                              {% endif %}
        }
         ,{
            name: 'Mise à disposition'
            {% if mad %}
             {% set var2 = 0 %}
            ,data: [{% for Mad in mad %}
                {% set var2 = var2 + Mad.quantite%}
                             {% if not loop.last%}
                    [  Date.UTC( "{{Mad.date|date("Y")}}", "{{Mad.date|date("m")}}"-1, "{{Mad.date|date("d")}}"),({{var2}}/{{projet.quantite}})*100],
                         {% else %}   
                             [ Date.UTC( "{{Mad.date|date("Y")}}", "{{Mad.date|date("m")}}"-1, "{{Mad.date|date("d")}}"),({{var2}}/{{projet.quantite}})*100]
                             {% endif %} 
                          {% endfor %} ]
                              {% endif %}
        }
       , {
            name: 'Avancement prévisionnel'
            {% if plan %} 
             {% set var3 = 0 %}
            ,data: [{% for Plan in plan %}
                {% set var3 = var3 + Plan.quantite%}
                             {% if not loop.last%}
                   [Date.UTC( "{{Plan.date|date("Y")}}", "{{Plan.date|date("m")}}"-1, "{{Plan.date|date("d")}}"),({{var3}}/{{projet.quantite}})*100],
                         {% else %}   
                             [Date.UTC( "{{Plan.date|date("Y")}}", "{{Plan.date|date("m")}}"-1, "{{Plan.date|date("d")}}") ,({{var3}}/{{projet.quantite}})*100]
                             {% endif %} 
                          {% endfor %}]
                              {% endif %}
        }
    ]
    });
});
</script>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>